/* ---- BODY ---- */
.dark {
  background-color: $secondodark;
  color: white;
}
/* ---- HEDER - PATH ---- */
.header-dark {
  background-color: $primodark !important;
  fill: $primodark !important;
}
/* ---- BUTTON ---- */
.button-dark{
  background-color: $terzodark;
}
