svg.fixed-top {
    position: fixed;
    top: 60px;
    z-index: -1 !important;
}

.bg-gradient{
    background-color: $primarycolor !important;
    background-image: none !important;
}

a img.img-fluid{
    width: 60px;
}

.navbar-dark .navbar-nav .nav-link{
    text-transform: uppercase;
    font-size: 0.8em;
}


.navbar > .container{
    align-items: flex-end;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-dark .navbar-toggler {
    border: none;
}

ul.navbar-nav.me-auto.mb-2.mb-md-0{
    flex-direction: row !important;
}